    * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -box-sizing: border-box
}

h1 {
	display: block;
}

.row {
	width: 100%;
}

.catContainer {
	vertical-align: top;
    display: inline-block;
    text-align: center;
    max-width: 50%;
}

.catImg {
	max-width: 100%;
	padding: 0px 10px 0px 10px;
}
